aside {
    margin-top: 40px;
    width: 140px;
    @include flex-col;
}

.logo {
    text-align: center;
}

.aside-menu {
    @include flex-col;

    &__item {
        @include flex-row;
        align-items: center;
        margin-bottom: 30px;
    
        &:hover {
            border-right: 3px solid $primary-color;
        }
    }

    &__icon-wrapper {
        margin-right: 15px;
        @each $name in food, blog, a-list, camera, about {
            &-#{$name}{
                @include icon-size;
                background-size: cover;
                background-image: url(../../icons/aside-icons/#{$name}.png);
            }
        }
    }
        
    &__title {
        color: $primary-color;
        font-style: italic;
    }
}

.tweets {
    @include flex-col;
}

.tweet-block {
    @include flex-col;

    &__title {
        margin-top: 5px;
        font-size: 12px;
        font-family: Verdana;
        text-transform: uppercase;
        border-bottom: $dashed;
    }

    &__text {
        margin-top: 10px;
        font-size: 10px;
        font-style: italic;
        line-height: 19px;
    }
}

.tweet-btn {
    @include flex-row;
    background: #FFFFFF;
    margin-top: 10px;
    align-items: center;
    color: $primary-color;
    border: 1px solid #E5E5E5;
    font-size: 10px;
    font-style: italic;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        border-color: $primary-color;
    }

    &:active {
        border-color: #11f0e5;
    }

    &__img {
        @include btn-icon-size;
        background-repeat: no-repeat;
        background-image: url(../../icons/aside-icons/twitter-btn.png);
        margin-right: 5px;
    }
}
