footer {
    margin-top: 40px;
}

.contacts {
    @include flex-row;
    border-top: 2px solid #E5E5E5;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 35px;
    justify-content: space-between;
    align-items: center;

    &__link-fence {
        color: $primary-color;
        position: relative;
        
        &:hover {
            text-decoration: underline;
        }

        &:not(:last-of-type)::after {
            @include pseudo;
            height: 12px;
            width: 1px;
            top: 10%;
            right: -6px;
            background-color: #E5E5E5;
            pointer-events: none;
        }
    }

    &__rights {
        margin-top: 3px;
        color: $sub-text;
    }

    &__link:not(:last-child) {
        margin-right: 8px;
    }

    &__social {
        display: flex;
    }

    &__icon {
        @each $name in facebook, twitter, rss {
            &-#{$name}{
                @include icon-size;
                background-size: cover;
                background-image: url(../../icons/footer-icons/#{$name}.png);
        
                &:hover {
                    background-image: url(../../icons/footer-icons/#{$name}-hover.png); 
                }
            }
        }
    }
}

