* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: rgb(240, 240, 240);
    width: 70%;
    padding: 15px;
    border: 1px solid rgb(163, 160, 160);
    margin: 50px auto;
    position: relative;
    z-index: 5;
}

.mod {
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(163, 160, 160);
}

.mod_top-left {
    top: -15px;
    left: -15px;
    border-top: none;
    border-left: none;
}

.mod_top-right {
    top: -15px;
    right: -15px;
    border-top: none;
    border-right: none;
}
.mod_bottom-right {
    bottom: -15px;
    right: -15px;
    border-bottom: none;
    border-right: none;
}
.mod_bottom-left {
    bottom: -15px;
    left: -15px;
    border-bottom: none;
    border-left: none;
}




/* Вариант с псевдоэлементами не получилось сделать резиновым */

/* .main::after{
    position: absolute;
    content: '';
    border-top: 1px solid rgb(163, 160, 160);
    border-bottom: 1px solid rgb(163, 160, 160);
    display: block;
    width: 100%;
    top: -2%;
    left: -5%;
    padding: 24px;
}

.main::before{
    box-sizing: border-box;
    position: absolute;
    content: '';
    border-right: 1px solid rgb(163, 160, 160);
    border-left: 1px solid rgb(163, 160, 160);
    display: block;
    width: 85%;
    top: -18px;
    left: -1px;
    padding: 41px;
} */










