body {
  margin: 0;
  background: #EEEEEE;
  box-sizing: border-box;
}

#root {
  text-align: center;
}

@media (max-width: 860px) {
  #root {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0;
  }
}