header {
    padding: 10px;
}

.title {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.menu {
    display: flex;
    
    &__item {
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        margin-right: 5px;

        &-fill {
            padding: 0;
            flex-grow: 1;

            .menu__input{
                border: none;
                background: rgb(13, 221, 134);
                width: 100%;
                height: 100%;
            }
        }

        &:last-child {
            margin-right: 0;
        }

    }

}