main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;

    &-left {
        flex: 1;
        justify-content: space-between;
    }

    &-right {
        flex: 3;

        .card-path {
            flex-direction: row-reverse;
            flex-grow: 1;

            .card__img {
                width: 45%;
            }
        }

        &-inside {
            flex-direction: row;
        }
    }
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px;
        background-color: #fff;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__description {
        flex-grow: 1;
        line-height: 20px;
        margin-top: 10px;
    }

    &__footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
}