
.main-container {
    display: flex;
}

.container-left{
    flex: 1;
    display: flex;
    flex-direction: column;

    .container-cards {
        display: flex;
        flex-direction: column;
    }
}

.container-right {
    flex: 3;
    display: flex;
    flex-direction: column;

    .card-path {
        flex-direction: row-reverse;

        .img-wrapper {
            flex: 1;
        }
    }
    
    &-inside {
        display: flex;
        flex-wrap: wrap;

        .container-left-cards {
            display: flex;
            flex: 2;
        }

        .container-cards {
            flex: 1;
        }
    }
}

.card {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;

    .img-wrapper {
        display: flex;
    }
    
    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
    }

    &__title {
        font-size: 20px;
        font-weight: 600;
    }

    &__description {
        margin-top: 5px;
        line-height: 20px;
        flex: 1;
    }

    &__footer {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
}