@media (max-width: 1000px) {
    
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .container-left {
       .container-cards {
           flex: 3;
       }
    }

    .container-right {
        flex: 1;

        .card-path {
            flex: 1;
            flex-direction: column;

            .card__img {
                width: 100%;
            }
        }

        &-inside {
            flex-direction: row;
            .card-forest {
                flex: 1;
            }

            .container-left-cards {
                flex: 1;
            }
        }
    }
}
