@media (max-width: 1000px) {
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .container {

        &-left {
            flex: 1;
            justify-content: space-between;

            .card-beach {
                flex: 1;
            }

            .container-cards {
                flex: 1;

                .card {
                    flex: 1;
                }
            }
        }
    
        &-right {
            flex: 1;

            .card-path {
                flex-direction: column;

                .card__img {
                    width: 100%;
                }
            }

            &-inside {
                .card-forest {
                    flex: 1 0 50%;
                }

                .container-cards {
                    flex: 1 0 50%;
                }
            }
        }
    }
}