@media (max-width: 1000px) {
    
    .wrapper {
        width: 100%;
        padding: 10px;
    }

    .container-small {
       .container-small-cards {
           flex: 3 1 auto;
       }
    }

    .container-large {
        flex: 1;

        .card-path {
            flex: 1 0 auto;
                .card__content {
                    flex-grow: 1;
                }
            flex-direction: column;

            .img-wrapper {
                width: 100%;
            }
        }

        &-inside {
            flex-direction: row;
            .card-forest {
                flex: 1;
            }

            .container-large-card {
                flex: 1;
            }
        }
    }
}
