.channels {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    overflow: hidden;
    border: 1px solid #d4d1d1;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .6),
    23px 0 20px -23px rgba(0, 0, 0, .6);

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;

        .btn-add-channel {
            background-color: rgb(156, 231, 156);
            border: 1px solid #d4d1d1;
            border-radius: 4px;
            padding: 7px;
            outline: none;
            transition: 0.2s;

            &:hover {
                border: 1px solid #b0c4ac;
            }

            &:active {
                background-color: rgb(184, 243, 184);
            }
        }

    }

    &__title {
        font-weight: 600;
    }

    .input-add-channel {
        margin-top: 20px;
        padding: 5px;
        outline: none;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        transition: 0.1s;
    
        &:hover, &:focus {
            border: 1px solid #aca9a9;
        }
    }

    &__body {
        padding: 5px;
        margin-top: 5px;
        flex-grow: 0;
        overflow: scroll;
        overflow-x: hidden;

        .channel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
            text-decoration: none;
            cursor: pointer;
            padding: 10px;
            border-radius: 4px;
            color: #000;

            &-active {
                background-color: rgba(243, 245, 239, 0.815);
                border-right: 5px solid rgb(190, 230, 181); 
            }
            
            &:hover {
                background-color: rgba(243, 245, 239, 0.815);
            }

            .btn-delete {
                cursor: pointer;
                background-color: transparent;
                border: none;
                padding: 0;
                width: 20px;
                height: 20px;
                background-image: url(../../../assets/png/delete-btn.png);
                background-size: cover;
                background-repeat: no-repeat;
            }

            
        }
       
    }
    
}



