body {
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.wrapper {
    display: flex;
    width: 1080px;
    margin: 46px auto 0;
    flex-direction: column;
}

.wrapper__main-aside {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/* all 992-1176 */

@media (max-width: 1176px) {
    
    .wrapper {
       max-width: 896px;
    }

}

/* all 768-992 */

@media (max-width: 991px) {
    
    .wrapper {
        max-width: 712px;
        margin-top: 25px; 
     }

     .wrapper__main-aside {
        flex-direction: column-reverse;
     }
}


@media (max-width: 767px) {

    .wrapper {
        max-width: 560px;;
    }
    
}


@media (max-width: 479px) {

    .wrapper {
        max-width: 100%;
    }

}