/* footer стили */

footer {
    margin-top: 41px;
}

.contacts {
    border-top: 2px solid #E5E5E5;
    font-size: 12px;
    padding: 24px 8px 37px;
    justify-content: space-between;
    align-items: center;
}

.contacts__link:not(:last-child) {
    margin-right: 8px;
}

.contacts__link-fence {
    color: #34ACA7;
    position: relative;
    margin-right: 7px;
}

.contacts__link-fence:hover {
    text-decoration: underline;
}

.contacts__link-fence:not(:last-of-type)::after {
    position: absolute;
    content: '';
    display: block;
    height: 12px;
    width: 1px;
    top: 10%;
    right: -6px;
    background-color: #E5E5E5;
}

.contacts__rights {
    margin-top: 3px;
    color: #E5E5E5;
}

/* // */

/* Медиа запросы */

/* От 993px до 1176px */

@media (max-width: 1176px) {

    .contacts {
        padding-right: 0;
        padding-left: 0;
    }

}

/* От 769px до 992px */

@media (max-width: 992px) {
    
    footer {
        margin-top: 100px;
    }
    
}

/* До 480px */

@media (max-width: 480px) {

    footer {
        margin-top: 50px;
        padding: 0 15px 0 15px;
    }
    
}