.input-wrapper {
    display: flex;
    margin-top: auto;
    align-items: center;

    .message-input {
        flex: 1;
        outline: none;
        resize: none;
        border: none;
        padding: 20px;
        max-height: 300px;
    }

    // .btn-send {
    //     margin: 20px;
    //     padding: 15px;
    // }
}