
@media (max-width: $screen-lg) {
    
    // Base

    .wrapper {
       width: 896px;
    }

    // Main

    main {
        width: 712px;
    }

    // Tabs

    .tab {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 9px;

        &:not(:last-child) {
            margin-right: 0;
            border-right: 1px solid #D6E6E6;
        }

        &__title {
            font-size: 14px;
        }

        &__subtitle {
            display: none;
        }
    }

    // Footer 

    .contacts {
      padding-left: 0;
      padding-right: 0;
    }
}
