.logo {
    width: 90px;
    height: 60px;
    margin-left: 15px;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    position: relative;
}

.person-container {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.person-invite {
    margin-right: 20px;
}

.input-person {
    padding: 10px;
    outline: none;
    border: 1px solid #e5e5e5;
    transition: 0.1s;

    &:hover, &:focus {
        border: 1px solid #aca9a9;
    }

}