/* До 480px   */

@media (max-width: 480px) {

    // Base 

    .wrapper {
        max-width: 100%;
    }

    // Aside

    aside {
        flex-direction: column-reverse;
    }

    .aside-menu {
        padding: 20px 0 20px 0;
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        padding: 20px 0 20px 0;
    }

    // Main

    main {
        padding: 0;
    }

    // Слайдер

    .slider__header {
        height: 373px;
    }

    .slider__subtitle {
        padding: 1% 0% 4% 1%;
    }

    // Блок с формой и подпиской

    .mail-form {
        width: 80%;
        margin-right: 50px;
    }

    .cards {
        flex-direction: column;
        align-items: center;

        &__content {
            min-width: 80%;
        }

        &__text {
            flex-grow: 0;
        }
    }

    // Footer

    footer {
        margin-top: 50px;
        padding: 0 15px 0 15px;
    }

}