
@media (max-width: 992px) {
    
    // Base

    .wrapper {
        width: 712px;

        &__main-aside {
            flex-direction: column;
        }
     }

    //  Aside

    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .aside-menu {
        width: 70%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &__item {
            position: relative;
            flex-direction: column;
            margin-bottom: 0;

            &:hover::after {
                @include pseudo;
                bottom: -5px;
                height: 3px;
                width: 100%;
                background-color: $links-color;
            }

            &:hover {
                border-right: 0;
            }
        }

        @each $name in food, blog, a-list, camera, about {
            &__#{$name}-wrapper{
                margin-right: 0;
                margin-bottom: 10px;
            }
        } 
    }

    .tweets {
        display: none;
    }

    // Subscribe-box

    .subscribe-box__description {
        align-items: flex-start;
    }

    // Footer

    footer {
        margin-top: 100px;
    }

}