.persons {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid rgb(212, 209, 209);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6);

    &__header {
        display: flex;
        justify-content: space-between;
        Person-select: none;
    }

    &__title {
        font-weight: 600;
    }

    &__body {
        margin-top: 10px;
        padding: 10px;
        overflow: scroll;
        overflow-x:hidden;
    }

}

