 /* // */

/* Медиа запросы  BASE */

/* 993px до 1176px - GLOBAL */ 

@media (max-width: 1176px) {
    
    // Base

    .wrapper {
       max-width: 896px;
    }

    // Main

    main {
        max-width: 712px;
    }

    .tab__link:not(:last-child) {
        margin-right: 0;
        border-right: 1px solid #D6E6E6;
    }

    .tab {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 9px;
    }

    .tab__title {
        font-size: 14px;
    }

    .tab__subtitle {
        display: none;
    }

    // Footer 

    .contacts {
        padding-right: 0;
        padding-left: 0;
    }

}

/* От 769px до 992px - GLOBAL */

@media (max-width: 992px) {
    
    // Base

    .wrapper {
        max-width: 712px;
     }

     .wrapper__main-aside {
        flex-direction: column;
     }

    //  Aside

    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .aside-menu {
        width: 70%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .menu-item {
        position: relative;
        flex-direction: column;
        margin-bottom: 0;
    }

    .menu-item:hover::after {
        position: absolute;
        top: 102%;
        left: 0%;
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: #34ACA7;
    }

    .menu-item:hover {
        border-right: 0;
    }

    .menu-item__img {
        margin-right: 0;
        margin-bottom: 12px;
    }

    .tweets {
        display: none;
    }

    // Main

    main {
        margin-top: 40px;
    }

    .subscribe-box__description {
        align-items: flex-start;
    }

    // Footer

    footer {
        margin-top: 100px;
    }

}

/* От 481px до 768px - GLOBAL */

@media (max-width: 768px) {

    // Base

    .wrapper {
        max-width: 560px;;
    }
    
    // Aside

    .menu-item__img {
        display: none
     }
 
     .aside-menu {
         width: 76%;
         justify-content: space-between;
     }

    //  Main
    main {
        padding: 0 7px 0 7px;
    }

    /* слайдер */

    .slider__header {
        height: 353px;
    }

    .slider__title {
        left: 0%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        top: 80%;
    }

    .slider__subtitle {
        width: 100%;
        top: 90%;
    }

    .slider__tabs {
        display: none;
    }

    /* стили блока с формой и подпиской */

    .subscribe-box {
        flex-direction: column;
        align-items: stretch;
        padding-bottom: 15px;
    }

    .mail-form {
        margin-top: 20px;
    }

    .mail-form__input {
        flex: 1;
        margin-right: 36px;
    }

    /* стили карточек со статьями */

    .cards {
        align-items: stretch;
    }

    .cards__content {
        max-width: 47%;
    }

    .cards__text {
        padding-right: 10px;
        flex-grow: 1;
    }

}

/* До 480px  - GLOBAL */

@media (max-width: 480px) {

    .wrapper {
        max-width: 100%;
    }

}

// GLOBAL END //


/* Медиа запросы  ASIDE */

/* От 769px до 992px */

@media (max-width: 992px) {
    
//   DONE

}

/* От 481px до 768px */

@media (max-width: 768px) {

//   DONE

}

/* До 480px */

@media (max-width: 480px) {

    aside {
        flex-direction: column-reverse;
    }

    .aside-menu {
        padding: 20px 0 20px 0;
        width: 100%;
        justify-content: space-around;
    }

    .logo {
        padding: 20px 0 20px 0;
    }
}

// MEDIA ASIDE END



    /* // */

/* Медиа запросы MAIN */

/* От 993px до 1176px */

@media (max-width: 1176px) {

    // Done

}

/* От 769px до 992px */

@media (max-width: 992px) {

    // Done
 
}

/* От 481px до 768px */

@media (max-width: 768px) {

    // Done

}

/* До 480px */

@media (max-width: 480px) {
    
    main {
        padding: 0 0 0 0;
    }

    .slider__header {
        height: 373px;
    }

    .slider__subtitle {
        padding: 1% 0% 4% 1%;
    }

    .mail-form {
        width: 80%;
        margin-right: 50px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards__content {
        min-width: 80%;
    }

    .cards__text {
        flex-grow: 0;
    }

}

// MEDIA MAIN END


/* // */

/* Медиа запросы FOOTER */

/* От 993px до 1176px */

@media (max-width: 1176px) {

//   done

}

/* От 769px до 992px */

@media (max-width: 992px) {
    
//   done
    
}

/* До 480px */

@media (max-width: 480px) {

    footer {
        margin-top: 50px;
        padding: 0 15px 0 15px;
    }
    
}