/* layout */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    max-width: 1080px;
    margin: 0 auto 0;
    flex-direction: column;
}

.wrapper__main-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 /* // */

/* Медиа запросы */

/* 993px до 1176px */

@media (max-width: 1176px) {
    
    .wrapper {
       max-width: 896px;
    }

}

/* От 769px до 992px */

@media (max-width: 992px) {
    
    .wrapper {
        max-width: 712px;
     }

     .wrapper__main-aside {
        flex-direction: column;
     }
}

/* От 481px до 768px */

@media (max-width: 768px) {

    .wrapper {
        max-width: 560px;;
    }
    
}

/* До 480px */

@media (max-width: 480px) {

    .wrapper {
        max-width: 100%;
    }

}