// цвет всех ссылок
$links-color: #34ACA7;

// бэкграунд табов
$tab-bg:#EFF8F7; 

//hover / active эффект.
$tab-active: #D9EFEC; 

// цвет подписи дат, права в footer
$sub-text: #E5E5E5; 

// Бордер у блока с формой и подпиской, тайтлы в tweet-blocks.
$dashed: 1px dashed #E5E5E5;

$aside-icons: '@each $name in food, blog, a-list, camera, about';