
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
  }

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin icon-size {
    width: 32px;
    height: 32px;
}

@mixin btn-icon-size {
    width: 16px;
    height: 16px;
}

