$primary-color: #34ACA7;
$sub-text: #E5E5E5; 
$tab-fill:#EFF8F7; 
$tab-active: #D9EFEC; 
$dashed: 1px dashed #E5E5E5;

// breakpoints

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1176px;







