* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #EEEEEE;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



@media (max-width: 860px) {
  #root {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  #root {
    padding: 0;
  }
}