/* aside bar стили */

aside {
    margin-top: 40px;
    width: 140px;
    @include flex-col;
}

.logo {
    text-align: center;
}

.aside-menu {
    @include flex-col;

    &__item {
        @include flex-row;
        align-items: center;
        margin-bottom: 31px;
    
        &:hover {
            border-right: 3px solid $links-color;
        }
    }

    &__img {
        margin-right: 15px;
    }

    &__title {
        color: $links-color;
        font-style: italic;
    }
}

.tweets {
    @include flex-col;
}

.tweet-block {
    @include flex-col;

    &__title {
        margin-top: 5px;
        font-size: 12px;
        font-family: Verdana;
        text-transform: uppercase;
        border-bottom: $dashed;
    }

    &__text {
        margin-top: 10px;
        font-size: 10px;
        font-style: italic;
        line-height: 19px;
    }
}

.tweet-btn {
    @include flex-row;
    background: #FFFFFF;
    margin-top: 10px;
    align-items: center;
    color: $links-color;
    border: 1px solid #E5E5E5;
    font-size: 10px;
    font-style: italic;
    border-radius: 5px;
    padding: 7px 0px 7px 7px;

    &:hover {
        border-color: $links-color;
    }

    &:active {
        border-color: #11f0e5;
    }

    &__img {
        margin-right: 5px;
    }
}
