
body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    
    @include flex-col;
    max-width: 1080px;
    margin: 0 auto 0;

    &__main-aside {
        @include flex-row;
        justify-content: space-between; 
    }

}