
//// Переменные 

/// Цвета

// цвет всех ссылок
$links-color: #34ACA7;

// бэкграунд табов
$tab-bg:#EFF8F7; 

//hover / active эффект.
$tab-active: #D9EFEC; 

// цвет подписи дат, права в footer
$sub-text: #E5E5E5; 

//// Миксины

// Миксин для псевдоэлементов:

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
  }

// Миксины для флексов:

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    
    @include flex-col;
    max-width: 1080px;
    margin: 0 auto 0;

    &__main-aside {
        @include flex-row;
        justify-content: space-between; 
    }

}