/* footer стили */

footer {
    margin-top: 40px;
}

.contacts {
    display: flex;
    flex-direction: row;
    border-top: 2px solid #E5E5E5;
    font-size: 12px;
    padding: 24px 8px 37px;
    justify-content: space-between;
    align-items: center;

    &__link-fence {
        color: $link-color;
        position: relative;
        margin-right: 7px;
        
        &:hover {
            text-decoration: underline;
        }

        &:not(:last-of-type)::after {
            position: absolute;
            content: '';
            display: block;
            height: 12px;
            width: 1px;
            top: 10%;
            right: -6px;
            background-color: #E5E5E5;
        }
    }

    &__rights {
        margin-top: 3px;
        color: #E5E5E5;
    }

    &__link:not(:last-child) {
        margin-right: 8px;
    }
   
}




